* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

@media(min-width: 500px) {
    body {
        height: 100vh;
        width: 490px;
        padding: 1px 0px;
        margin: 0 auto;
        background-color: rgb(206, 237, 226);
    }
}

@media(min-width: 952px) {
    body {
        height: 100vh;
        width: 590px;
        padding: 1px 0px;
        background-color: rgb(206, 237, 226);
    }
}

@media(min-width: 1150px) {
    body {
        height: 100vh;
        padding: 1px 0px;
    }
}